{% load staticfiles %}

<html>
    <head>
        <title>BLAZADA</title>
        <meta name="description" content="Price tracking tool with phone notifications for Lazada, Qoo10, Taobao. Keep an eye on your most wanted items and never miss a discount! :)">
        <meta name="keywords" content="price, track, notify, Telegram, mobile, Lazada, Qoo10, Taobao, online shopping, alert">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Alex+Brush|Allura|Cormorant+Garamond|Life+Savers|Parisienne|Sacramento|Tangerine" rel="stylesheet"> 
        <script src='https://www.google.com/recaptcha/api.js'></script>
    <meta name="google-site-verification" content="4AZShhga7nIocVP-VHfLJ4pxFXPEG-n6On3Sq5O78l8" />
    </head>
    <body>

        
        <!-- announcements here -->
        <div class="content container">  
            <div class="row" id="page-header">
                Update: We now support Taobao, Qoo10 and Lazada price tracking. Whoopee.
                <br>
                For Taobao, please use the original product link from the Taobao website, and not the link from the local dropshipper e.g. SGShop or ezbuy.
                <br>
                You can find the link to the original page from the SGShop/ezbuy/etc's page for your product. Yup.
            </div>
        </div>

        <div class="parallax bg_1"> 

        <div class="content container">
            <div class='row'>

                <div class="col-md-2"> </div>

                <div class = "col-md-8">
                    <a href="/">
                    <div class='page-header'>blazada</div>
                    </a>
                </div>

                <div class="col-md-2"> </div>

            </div>
        </div>
        

        <div class="content container">  
            <div class="row" id="navtabs">
                <div class="col-md-2"> </div>
                <div class="col-md-8">

                    <ul class = "nav nav-tabs">
                    <li class='active'> <a data-toggle="tab" href="#pricetracker"> price tracker </a> </li>
                    <li> <a data-toggle="tab" href="#what"> what's this? </a> </li>
                    <li> <a data-toggle="tab" href="#how"> how to use</a> </li>
                    <li> <a data-toggle="tab" href="#other"> other questions </a> </li>
                    </ul>

                    <div class="tab-content">

                      <div id="pricetracker" class="tab-pane fade in active">
                        <div class="row"> </div>
                        {% block content %}
                        {% endblock %}
                      </div>

                      <div id="what" class="tab-pane fade">
                        <br>
                        <p>Blazada does two things: </p>
                        <ol>
                            <li> Continuously checks the price of any Lazada/Qoo10/Taobao item you'd like </li>
                            <li> Notifies you via Telegram when it reaches the price you want </li>
                        </ol>
                        <p> If you're eyeing something on Lazada/Qoo10/Taobao  but waiting for further discounts, Blazada saves you the trouble of having to manually check its price every day. Kinda helps you control your online shopping too &mdash; setting buy-at prices makes you spend only when it's value-for-money :]  </p>
                      </div>
                      
                      <div id="how" class="tab-pane fade">
                        <h3> Basic guide </h3>
                        <ol>
                            <li> Fill up price tracker form </li>
                            <li> First-time users: start a chat with blazadaBot on Telegram </li>
                            <p> That's it. </p>
                        </ol>
                        <hr>
                        <h3> Detailed version (4 steps) </h3> 
                        <ol>
                            <li> Decide what you want to buy </li>

                            <div class="thumbnail">
                                <img class="img-responsive" src={% static 'img/1_item.png' %} alt="product page" title="I need to fix my dual-sim problems..."> </img>
                                <div class="caption"> <p> In this example, I'm eyeing this particular Xiaomi phone from the Mi store </p> </div>
                            </div>

                            <li> Decide on your buy-at price </li>
                            <div class="thumbnail">
                            <img class="img-responsive" src={% static 'img/2_price.png' %} alt="price history" title="Must. get. discount."> </img>
                            <div class="caption"> <p> This is totally up to you, but I read some reviews...and apparently the price went as low as $149, so being me there's no way I'm buying it at $199. I'll set my buy-at price to $180. </p> </div>
                            </div>
                            <li> Use the price tracker form </li>
                            <div class="thumbnail">
                            <img class="img-responsive" src={% static 'img/4_form.png' %} alt="price tracker form" title="yes, a form. I'm so sorry."> </img>
                            <div class="caption"> <p> Fill it up!</p> </div>
                            </div>

                            <ul>
                                <li> Product link: Copy and paste URL from the product page (e.g. https://www.lazada.sg/xiaomi-redmi-4x-3gb-32gb-gold-20499139.html?spm=a2o42.prod.0.0.18feea70Ul1BP0) </li>
                                <li> Target price: Your buy-at price (e.g. 180). Don't include the $ sign.
                                <li> Your mobile: The mobile number to receive your Telegram notification from. Include the country code, with the + (e.g. +65 96987636) </li>
                            </ul>
                            <br>
                            <p> Press the "Notify me!" button. A green confirmation message will be displayed below </p>
                            <br>
                            <br>
                            <li> If this is your first time using Blazada: </li>
                                <ul>
                            <div class='row'>
                            <p> </p>
                                    <li> AFTER using the price tracker as above, go to Telegram and search for blazadaBot </li>
                                <br>
                                <div class="col-md-1"> </div>
                                <div class="col-md-5">
                                    <img class="thumbnail img-responsive float-left" src={% static 'img/t1.jpg' %} title="nothing here, move along"> </img>
                                </div>
                                <div class="col-md-5">
                                    <img class="thumbnail img-responsive" style="float: right;" src={% static 'img/t2.jpg' %} title="nothing here, move along"> </img>
                                </div>
                                <div class="col-md-1"> </div>
                            </div>

                            <br>
                            <div class='row'>
                                    <li> Open a chat with it. Press start or send "/start". Press the big button that comes up to send your mobile number to the bot (we need this to confirm it's you). </li>
                            <br>
                                <div class="col-md-1"> </div>
                                <div class="col-md-5">
                                    <img class="thumbnail img-responsive float-left" src={% static 'img/t3.jpg' %} title="nothing here, move along"> </img>
                                </div>
                                <div class="col-md-5">
                                    <img class="thumbnail img-responsive" style="float: right;" src={% static 'img/t4.jpg' %} title="nothing here, move along"> </img>
                                </div>
                                <div class="col-md-1"> </div>
                            </div>

                            <br>
                            <div class='row'>
                                    <li> That's it! Just sit back and wait for your notification :] </li>
                            <br>
                                <div class="col-md-4"> </div>
                                <div class="col-md-4">
                                    <img class="thumbnail img-responsive float-left" src={% static 'img/t5.jpg' %} title="good things come to dr who...wait"> </img>
                                </div>
                                <div class="col-md-4"> </div>
                            </div>
                                </ul> 
                        </ol>


                      </div>

                      <div id="other" class="tab-pane fade">
                        <h3>Frequently asked questions</h3>
                        <br>
                        <ul>
                           <li>
                               Can I trust Blazada with my mobile number?<br><br>
                               Reasons to trust us:<br>
                               <ul>
                               <li>We will ONLY use your mobile number to send you ONE Telegram message when your desired price is reached. </li>
                               <li>i.e. No, we won't send spam, sell your number, or ask you out on a date. Our bot may compliment you if you ask nicely, though. </li>
                               <li>You can remove your number from our database at any time (use the bot). Doesn't even take 3 working days to process. </li>
                               <li>As an aside, here's a friendly reminder to beware of online phishing. Think twice before giving out your personal information. </li>
                               </ul>

                                <br>
                                Reasons NOT to trust us:
                                <ul>
                                <li> I dunno, maybe someone will hack into the server and steal all our numbers. I sure hope not. My number's in there too. :( </li>
                                <li> <i> aside: I'm kidding, this is actually pretty unlikely, the server's pretty secure...besides, not enough people use this thing for it to be worth hacking anyway...and it's only mobile numbers without any additional personal information. Who'd bother? *shrugs*</i> </li>
                                </ul>
                           </li> 
                           <br>
                           <li>Telegram only? <br> Yes.</li><br>
                           <li>Lazada and Qoo10 and Taobao only? <br> For now, yes. </li><br>
                           <li>No ads? <br> Nope. They're ugly. </li><br>
                           <li>Does this earn you money? <br> For now, no. It's bleeding USD 5/month from my pocket to keep this page up. (If enough people actually use this thing, using the link from the telegram bot to buy your item may bag me a tiny bit of moolah. I'll see if anyone even uses this first... </li><br>
                           <li>How often does Blazada check the prices?<br>Hourly, at 2 minutes past. </li><br>
                           <li>How do I know that Blazada works? <br> Try it with a random item from Lazada and put a huge target price like 9999999. Start the bot up. You should get a notification within the day. Also, use the /check command with the bot to check your current trackings. Go play with the rest of the commands yourself. </li><br>
                           <li>How many items can I track? <br> As many as you want, for now. </li><br>
                           <li>So...you'll just keep tracking my items forever if they don't hit my target price?<br>
                                Yes...unless the URL becomes invalid, or some calamity happens. We'll probably clear trackings that are more than 1 year old from our server, so you may want to check your trackings with our bot...yearly...or something...</li><br>
                           <li>Can you integrate this with the Lazada wishlist/app/etc.?<br>Not going to, too lazy. </li><br>
                           <li>Why does this thing have so few features? I can't even edit target prices! <br>
                            <ul>
                                <li> This is intentional. The effect of curbing impulse buys/irrational buying behaviour is intended to be a significant feature of this app. Keeping the app simple in this way forces you to deliberately and conscientiously value the item you want, so that you can set a representative target price. Also encourages the use-once-and-forget-about-it-till-discount-happens behavioural pattern; you don't end up thinking about it and checking the price on the bot all the time like how you check Facebook or the fridge. The more you look at it, the itchier your fingers get.</li>
                                <li> I'm lazy. </li>
                            </ul>
                            </li><br>
                        </ul>

                        <br><hr><br>

                        <h3>Rarely asked questions</h3>
                           <ul>
                           <li>Why is this site so ugly?<br> I'm lazy. </li><br>
                           <li>Why is the site's code so ugly?<br> I'M SORRY!!! </li><br>
                           <li>Where can I find the site's code?<br>I'm not going to publicize it...it's ugly. But it's on github somewhere. Yeah. </li><br>
                           <li>Contact?<br>blazada17[at]gmail(dot)com </li><br>
                           <li>How much wood...<br> Ok bye </li><br>
                           </ul>
                      </div>

                    </div>


                </div>
                <div class="col-md-2"> </div>
            </div>
        </div>



        <div class="content container">
            <div class="row">

                <div class="col-md-2 body_text"> </div>
                <div class="col-md-8 body_text">
                    <div class="footer">
                        <hr>
                        <p> :]</p>
                    </div>
                </div>
                <div class="col-md-2 body_text"> </div>
            </div>
        </div>
     </div>
    </body>
</html>

