{% extends 'blog/base.html' %}

{% block content %}
        <div>
        <form method="POST" class="sale-form">{% csrf_token %}
        {{ form.as_p }}
        <div class="g-recaptcha" data-sitekey="6LcpCj4UAAAAADhQ3Tc5TA6zs7ReilkJ8hr0rAKS"></div>
        <button type="submit" class="save btn btn-default">Notify me!</button>
        </form>
            {% if success == 1 %}
                    <p> Done! We'll notify you by WhatsApp/Telegram when {{ itemName }} has reached the price of ${{ target }} </p>
            {% endif %}

        </div>
{% endblock %}

<!-- 
    <table>
    <tr>
        <td>  Item number </td>
        <td> Description </td>
        <td> From </td>
        <td> Price </td>
        <td> Status </td>


        <tr>
            <td>{{ clothing.item_code }}</td>
            <td> {{ clothing.description }} </td>
            <td> {{ clothing.owner }} </td>
            <td> {{ clothing.price }} </td>
            <td> {% if clothing.sold %} SOLD {% endif %} </td>
        </tr>

    </table>


-->
